body {
    background-image: url("../img/fundo.gif");
    image-rendering: auto;
    background-repeat: repeat;
    background-size: contain;
    min-height: 100vh;

    font-family: 'Oswold', sans-serif;
    font-size: 20px;
    color: #fff;

    scrollbar-width: none;
}

html {overflow: -moz-scrollbars-none;}

