.presentation {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 90%;
    max-height: 100%;
}

.presentation .text {
    text-align: justify;
}

.presentation .text h1 {
    font-size: 24px;
    font-weight: bold;
}

.presentation img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }

    .presentation img {
        width: 100%;
        height: 220px;
        margin-bottom: 20px;
    }
}
