.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: 1;
    width: 600px;
    height: 425px;
    padding: 40px;
    margin-bottom: 30px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.projects::-webkit-scrollbar {
    display: none;
}

.project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 33px;
    margin-bottom: 20px;
}

.project img {
    width: 100%;
}


@media screen and (max-width: 600px) {
    .project p {
        text-align: justify;
    }

    .projects {
        width: 80%;
        height: 330px;
    }
}

@media screen and (min-width: 610px) and (max-width: 830px) {
    .projects {
        width: 80%;
        height: 370px;
    }
}